zeep-lib/test-data/headers_in_same_message.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://test.com/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://test.com/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://test.com/">
            <s:element name="TestRequest" type="s:string"/>
            <s:element name="TestResponse" type="s:string"/>
            <s:element name="TestHeader" type="s:string"/>
        </s:schema>
    </wsdl:types>
    
    <wsdl:message name="TestSoapIn">
        <wsdl:part name="parameters" element="tns:TestRequest"/>
        <wsdl:part name="TestHeader" element="tns:TestHeader"/>
    </wsdl:message>
    
    <wsdl:message name="TestSoapOut">
        <wsdl:part name="parameters" element="tns:TestResponse"/>
    </wsdl:message>
    
    <wsdl:portType name="TestPortType">
        <wsdl:operation name="TestOperation">
            <wsdl:input message="tns:TestSoapIn"/>
            <wsdl:output message="tns:TestSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="TestBinding" type="tns:TestPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="TestOperation">
            <soap:operation soapAction="http://test.com/TestOperation"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
                <soap:header message="tns:TestSoapIn" part="TestHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="TestService">
        <wsdl:port name="TestPort" binding="tns:TestBinding">
            <soap:address location="http://test.com/service"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>